/TratamientoImagenes/nbproject/private/
/TratamientoImagenes/build/
/imagenes/nbproject/private/
/EdicionImagenes/nbproject/private/
/EdicionImagenes/build/
/PruebaImagenes/nbproject/private/
/PruebaImagenes/build/